*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(mountain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.topnav
{
    background-color: black;
    overflow: hidden;
}

.topnav a
{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover
{
    background-color: #ddd;
    color: black;
}

.topnav a.active
{
    background-color: #4CAF50;
    color: white;
}

.heading
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.heading h1
{
    color: floralwhite;
    text-align: center;
    padding: 5px;
}

.box
{
    border: 2px solid orange;
    margin: auto;
    margin-top: 10px;
    width: 1300px;
    height: 500px;
}

.box h2
{
    color: aliceblue;
    text-align: center;
    padding-top: 170px;
}

.box p
{
    color: aliceblue;
    text-align: center;
    font-size: 23px;
}